<div class="box">
    <p class="heading">Frequently Asked Questions</p>
    <div class="faqs">
        <details>
            <summary>What is a home loan?</summary>
            <p class="text">Home loan is the money borrowed from a bank or a housing finance institution on interest for
                buying / constructing / upgrading a residential real estate property.</p>
        </details>
        <details>
            <summary>What is an EMI?</summary>
            <p class="text">EMI or Equated Monthly Instalment is a fixed amount paid by you to the bank on a specific
                date every month. The EMI's are fixed when you borrow money from the bank as a loan. EMI's are used to
                pay both interest and principal amount of a loan in a way that over a specific number of years, the loan
                amount is repaid to the bank alongwith interest.</p>
        </details>
        <details>
            <summary>What will be my EMI?</summary>
            <p class="text">To know your EMI, visit our EMI Calculator at <a href="eligibiltycalculator">Click here</a></p>
        </details>
        <details>
            <summary>What are the various Documents to be uploaded for applying Home loan?</summary>
            <p class="text">Pan Card,Voter id,Salary Slip,LOA,NOC from Builder,Agreement To Sale</p>
        </details>
        <details>
            <summary>How to apply for loan?</summary>
            <p class="text">Click on the 'Apply now' button on the home page.It will redirect you to the application
                form.</p>
        </details>
        <details>
            <summary>How will I know if I'm eligible for home loan or not?</summary>
            <p class="text">Click on this link to access our eligibility calculator to know if you're eligible or
                not.<a href="eligibiltycalculator">Click here</a></p>
        </details>
        <details>
            <summary>I forgot my password.What should I do now?</summary>
            <p class="text">Click the forgot password option.Then you can reset your password using your mail id.</p>
        </details>
        <details>
            <summary>Can I track my application approval status?</summary>
            <p class="text">Yes,you can using 'Track Application' at [LINK]</p>
        </details>
    </div>
</div>
