.style{
    padding-top: 70px;
   text-align: center;
   background-color: whitesmoke;
  }

  .container {
    display: flex;
    justify-content: center;
    padding: 5rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image td,
.table-image th {
  vertical-align: middle;
}