
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Application ID</th>
                <th>Interest Rate</th>
                <th>Loan Amount</th>
                <th>Maximum Ammount Grantable</th>
                <th>Tenure</th>                            
               <th>Username</th>
               <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let loan of details">
                <td>{{loan.applicationId}}</td>
                <td>{{loan.interestRate}}</td>
                <td>{{loan.loanAmount}}</td>
                <td>{{loan.maxLoanAmountGrantable}}</td>
                <td>{{loan.tenure}}</td>
                <td>{{loan.username}}</td>
                    <!--<button [routerLink]="['/update/', product.id]">Update</button>
                    <button type="button" (click)="delete(product.id)">Remove</button>
                </td>-->
                <td><button [routerLink]="['/approval/',loan.applicationId]" class="pure-button pure-button-primary" style="background-color: #d12087;">Approve/Reject</button></td>
            </tr>
        </tbody>
    </table>
</div>
