<div [ngClass]="'style'">
    <div class="card border-success mb-4">
        <div class="card-body text-success">
            <h5 class="card-title">Application Submitted Successfully!</h5>
            <p class="card-text">Your Application ID is: {{appid}}</p>
            <p class="card-text">Please take a note of this Application ID to track the status of your application.</p>
            <p class="card-text">Thank you for choosing us.</p>
        </div>
    </div>
    <a routerLink="/user"><button class="btn btn-success" type="submit"> Login</button></a>
</div>

