<div class="bg-light"><div class="image" style="background-image: url(assets/key.jpg);" >
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="content-head is-center">About us</h1><br><br><p class="lead text-muted mb-0"><b> Our Home Loans is the largest Mortgage Lender in India,<br> which has helped over 30 lakh families to achieve the dream of owning a home.</b></p>
        </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="content-head is-center">Our Values</h2>
          <p class="font-italic text-muted mb-4"><li>Trust</li> 
           <li> Transparency</li>
           <li>Integrity</li> 
           <li>Excellence</li> 
            </p><div class="customer"><h2 class="content-head is-center">Value to Customers</h2><p class="font-italic text-muted mb-4"> 
              <li>Wide Product Range</li>
              <li>Interest Calculation on Daily Reducing Balance</li> 
              <li>No Hidden Costs</li>
              <li>Low Interest Rates</li>
              <li>Low Processing Fees</li>
              <li>No Pre-payment penalty Transparency</li></p></div>
        </div> -->
        <!-- <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div> -->
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        
          <div class="content-wrapper">
            <div class="content">
                
                <div class="pure-g">
                    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"> 
                      <h3 class="content-subhead" style="padding-left: 90px;">Our Values </h3>
                  <ul style="padding-left: 110px;">
        
                      <li>Trust</li> 
                      <li> Transparency</li>
                      <li>Integrity</li> 
                      <li>Excellence</li></ul>
                        
                    </div>
                    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                       <h3 class="content-subhead" style="padding-left: 1px;">Value &nbsp; to Customers </h3><ul style="padding-left: 20px;">
                       <li>Wide Product Range</li>
                        <li>Interest Calculation on Daily Reducing Balance</li> <li>No Hidden Costs</li>
                        <li>Low Interest Rates</li>
                        <li>Low Processing Fees</li>
                        <li>No Pre-payment penalty </li> </ul>
                        
                      </div>  <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"> 
                        <h3 class="content-subhead" style="padding-left: 25px;">Our Presence</h3>
                    <ul style="padding-left: 45px;">
          
                        <li>24,000+ branches</li> 
                        <li> 1600+ member strong dedicated Sales Team</li>
                        <li>Integrity</li> 
                        <li>Excellence</li></ul>
                          
                      </div><div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                        <h3 class="content-subhead" >Recognitions</h3><ul style="padding-top: 1px;">
                        <li>Winner of the “Best Home Loan Provider"at CNBZ Awaaz Real Estate Awards 2016</li>
                        </ul>
                      </div>
                    
                    
                    
                </div>
            </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        
          <div class="content-wrapper">
            <div class="content">
                <h2 class="content-head is-center" style="padding-top: 20px;padding-bottom: 20px ;padding-left:25px; text-align: center;">Features and Benefits</h2>
                <div class="pure-g">
                    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        
                        <h3 class="content-subhead" style="padding-left: 25px;">
                            <i class="fa fa-rocket"></i>
                            Top-up Loan
                        </h3>
                        <p style="padding-left: 25px;">
                            Get a sizeable top up loan at a nominal interest without any exta documentation
                        </p>
                    </div>
                    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                       <h3 class="content-subhead" style="padding-left: 15px;">
                            <i class="fa fa-mobile"></i>
                            TrackMyLoan
                        </h3>
                        <p style="padding-left: 15px;">
                            Facilities to check the status of the loan on the go via loan tracker.
                        </p>
                    </div>
                    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                        <h3 class="content-subhead" style="padding-left: 15px;">
                            <i class="fa fa-th-large"></i>
                            Flexible Tenure
                        </h3>
                        <p style="padding-left: 15px;">
                            Flexible tenures ranging upto 30 years, to fit your repayment capacity
                        </p>
                    </div>
                    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                        <h3 class="content-subhead" style="padding-left: 15px;">
                            <i class="fa fa-check-square-o"></i>
                            Low EMI
                        </h3>
                        <p style="padding-left: 15px;">
                            Apply for higher loan amount with an extended tenure of 30 years to enjoy low EMIs
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    
  
  
  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="content-head is-center" style="font-size: 50px;">Our team</h2>
          <p class="font-italic text-muted">Check Out Our Leader and Members</p>
        </div>
      </div>
  
      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834132/avatar-4_ozhrib.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Mugdha Kulkarni</h5><span class="small text-uppercase text-muted">Team-Leader</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Nithish Kumar S</h5><span class="small text-uppercase text-muted">Member</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-2_f8dowd.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Gundeti Sai Prudvi</h5><span class="small text-uppercase text-muted">Member</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Soumitra Bandyopadhyay</h5><span class="small text-uppercase text-muted">Member</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
      </div>
    </div>
  </div>
