<div class="content-wrapper center" style="width: 70%;">
    <div class="content">
<div [ngClass]="'style'">
    
    <form [formGroup]="ResetPassword" >
        <div class="container" >
          <!-- <h1>Welcome!</h1> -->
          <p>Please enter new password</p>
          <hr>

          <p>
            <label for="newpass" ><b>New Password</b></label>
            <input type="text" id="newpass" name="newpass" formControlName="NewPassword" />
        </p>
        
        <p>
            <label for="cpass" ><b>Confirm Password</b></label>
            <input type="text" id="cpass" name="cpass" formControlName="ConfirmPassword" />
        </p>
        
        <a routerLink="/passwordsuccessful"><button class="registerbtn" type="submit"> Submit</button></a>
    </div>
      </form>
</div>
</div>
