<div class="content-wrapper center" style="width: 65%;">
    <div [ngClass]="'style'">

        <form [formGroup]="LoanDetails" (ngSubmit)="SubmitLoan()">
            <div class="container">
                <h1>Loan Details</h1>
                <!-- <p>Please fill in this form to apply for loan.</p> -->
                <hr>
                <p>
                    <label for="uname"><b>Username</b></label>
                    <input type="text" id="uname" name="uname" formControlName="Username" />
                </p>
                <p>
                    <label for="maxamt"><b>Maximum Amount Grantable</b></label>
                    <input type="number" id="maxamt" name="maxamt" formControlName="MaxLoanAmountGrantable" />
                </p>

                <p>
                    <label for="rate"><b>Interest Rate</b></label>
                    <input type="number" id="rate" name="rate" formControlName="InterestRate" />
                </p>
                <p>
                    <label for="tenure"><b>Tenure</b></label>
                    <input type="number" id="tenure" name="tenure" formControlName="Tenure" />
                </p>

                <p>
                    <label for="lamt"><b>Loan Amount</b></label>
                    <input type="number" id="lamt" name="lamt" formControlName="LoanAmount" />
                </p>


                <input class="registerbtn" type="submit" value="Save and Next" style="margin-right:20px">
            </div>


            <p>By applying here you agree to our <a href="#">Terms & Privacy</a>.</p>
        </form>

    </div>
</div>