<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <div *ngIf="!message">
            <a class="pure-menu-heading" href="">Home Loan</a>
           
                <ul class="pure-menu-list">
                    <li class="pure-menu-item pure-menu-selected"><a routerLink='Home' class="pure-menu-link">Home</a>
                    </li>
                    <li class="pure-menu-item pure-menu-selected"><a href="aboutus" class="pure-menu-link">About Us</a></li>
                    <li class="pure-menu-item pure-menu-selected"><a href="apply" class="pure-menu-link">Apply</a></li>
                    <li class="pure-menu-item pure-menu-selected"><a href="loantracker" class="pure-menu-link">Track My Loan</a></li>
                    <li class="pure-menu-item pure-menu-selected"><a routerLink="eligibiltycalculator"
                            class="pure-menu-link">Calculator</a></li>
                    <div class="dropdown">
                        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Login</a></li>
                        <div class="dropdown-content">
                            <a href="adminlogin">Admin</a>
                            <a href="user">User</a>
                        </div>
                    </div>
                    <li class="pure-menu-item pure-menu-selected"><a href="faq" class="pure-menu-link">FAQ</a></li>
                </ul>
            </div>
            <div *ngIf="message">
                <a class="pure-menu-heading" href="">Home Loan</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item pure-menu-selected"><a routerLink='Home' class="pure-menu-link">Home</a>
                    </li>
                    <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">About Us</a></li>
                    <li class="pure-menu-item pure-menu-selected"><a href="apply" class="pure-menu-link">Apply</a></li>
                    <li class="pure-menu-item pure-menu-selected"><a href="eligibiltycalculator"
                            class="pure-menu-link">Calculator</a></li>
                    <li class="pure-menu-item pure-menu-selected">
                        <a routerLink="" (click)='logout()' class="pure-menu-link">Logout</a>
                    </li>
                    <li class="pure-menu-item pure-menu-selected"><a href="faq" class="pure-menu-link">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <!-- <div class="content-wrapper">
<div class="footer l-box is-center ">
    &copy; All rights reserved.
</div>
</div> -->