<div class="wrapper">
    <div class="sidebar">
      <h3>Welcome, Admin</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="pending">Pending Applications</a></li>
        <li><a href="reject">Rejected Applications</a></li>
        <li><a href="approved">Approved Applications</a></li>
        <li><a href="#">Blogs</a></li>
      </ul>
    </div>
    <div class="main_content">
      <div class="header">Welcome!! Have a nice day.</div>
      <div class="info">
        <div class="col-6">
          <div class="card border-success mb-4">
              <div class="card-body text-success">
                  <h5 class="card-title">Approved status</h5>
                  <p class="card-text">Count of approved status:</p>
              </div>
          </div>
      </div>

      
        <div class="row">
            <div class="col-6">
                <div class="card border-primary mb-4">
                    <div class="card-body text-primary">
                        <h5 class="card-title">Pending Applications</h5>
                        <p class="card-text">Count of pending applications:</p>
                    </div>
                </div>
      </div>

      
    </div>
    </div>
  </div>
