<div class="wrapper">
    <div class="sidebar">
      <h3>Welcome, Admin</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="pending">Pending Applications</a></li>
        <li><a href="reject">Rejected Applications</a></li>
        <li><a href="approved">Approved Applications</a></li>
        <li><a href="#">Blogs</a></li>
      </ul>
    </div>
    <div class="main_content">
      <div class="header">Welcome!! Have a nice day.</div>
      <div class="info">
        

      
        <div class="card-columns">
          <div class="card bg-primary">
            <div class="card-body text-center">
              <b><p class="card-text" style="color: black;">Pending Applications</p></b>
              <p class="card-text" style="color: black;">Count of Pending Applications:</p>
              <p class="card-text" style="color: black; font-size:xx-large">10</p>
            </div>
          </div>
          
          <div class="card bg-success">
            <div class="card-body text-center">
              <b><p class="card-text" style="color: black;">Approved Applications</p></b>
              <p class="card-text" style="color: black;">Count of Approved Applicatons:</p>
            </div>
          </div>
          <div class="card bg-danger">
            <div class="card-body text-center">
              <b><p class="card-text" style="color: black;">Rejected Applications</p></b>
              <p class="card-text" style="color: black;">Count of Rejected Applications:</p>
            </div>
          </div>
          
          
        </div>

      
    </div>
    </div>
  </div>
