<div class="container-fluid style">
 
    <div class="jumbotron col-sm-4 p-2 m-0 bg-inverse">
   
      <h1 class="text-center">Eligibilty Calculator</h1>
      Monthly income<div class="input-group input-group-sm col-sm-12 m-0 p-0">
        <input type="number" style="width: 400px;">
      </div>
      ROI<div class="input-group input-group-sm col-sm-12 m-0 p-0">
        <input type="number" style="width: 400px;">
      </div>
      <div style="margin-top: 10px;">
        <button class="btn btn-lg btn-success col-sm-6 p-1" type="button" (click)="getAnswer()">Calculate</button>
      </div>
      Eligibility<div class="input-group input-group-sm col-sm-12 m-0 p-0">
       <p>{{input3}}</p>
      </div>
 </div>
 </div>  
