<body>
<div class="splash-container">
    <div class="splash">
        <!-- <h1 class="splash-head">Build Your Dream Home</h1> -->
        <!-- <p class="splash-subhead">
            Combine the Joy of Festivities with a joy of new Home
        </p> -->
        <p>
            <a href="#" class="pure-button pure-button-primary">Apply Now</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Features and Benefits</h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Top-up Loan
                </h3>
                <p>
                    Get a sizeable top up loan at a nominal interest without any exta documentation
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    TrackMyLoan
                </h3>
                <p>
                    Facilities to check the status of the loan on the go via loan tracker.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Flexible Tenure
                </h3>
                <p>
                    Flexible tenures ranging upto 30 years, to fit your repayment capacity
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Low EMI
                </h3>
                <p>
                    Apply for higher loan amount with an extended tenure of 30 years to enjoy low EMIs
                </p>
            </div>
        </div>
    </div>


    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img width="300" alt="File Icons" class="pure-img-responsive" src="/assets/3.webp">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Home Loan</h2>

            <p>
                Buying a house is a dream for many and involves a lot of financial planning. Our Bank's Home loan
                makes it simpler
                for those who wants to realise this dream. With our express home loan platform you can now get
                digital sanction of
                your home loan at attractive rate of interest in just few simple steps
            </p>
        </div>
    </div>

    <div class="content">
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <h2 class="content-head is-center">Help Us Reach You</h2>
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" type="text" placeholder="Your Name">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" placeholder="Your Email">

                        <label for="password">Your Mobile Number</label>
                        <input id="password" type="number" placeholder="Your Mobile Number">

                        <button type="submit" class="pure-button">Submit</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <!-- <h4>Contact Us</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>

                <h4>More Information</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p> -->
                <h2 class="content-head is-center">Eligibility and Emi Calculator</h2>
                 <div class="rw">
                     <div class="clm">
                         <a  href="#"><img  src="/assets/eli1.png" alt="" style="width:200px;margin-left: 140px;margin-top: 10px;"></a>
                     </div>
                     <div class="clm">
                        <a href='#'><img src="/assets/emi1.png" alt="" style="width: 200px;margin-left: 50px;"></a>
                    </div> 
                 </div>
                 
            </div> 
        </div>

    </div>


</div>