<div class="content-wrapper center" style="width: 50%;">

<div [ngClass]="'style'" >
    <h1>Documents Upload</h1>
    <!-- <label class="form-label" for="customFile">Document Upload</label> -->
    <p style="margin-top: 10px;">
    <label >Pan Card</label>
    <input type="file" class="form-control newbtn" id="customFile1" style="margin-top: 10px;"/>
    </p>
    <p>
        <label >Voter ID</label>

        <input type="file" class="form-control newbtn" id="customFile2"  />

    </p>

    <p>
        <label >Salary Slip</label>

        <input type="file" class="form-control newbtn" id="customFile3" style="margin-top: 10px;" />

    </p>

    <p>
        <label >LOA</label>

        <input type="file" class="form-control newbtn" id="customFile4" style="margin-top: 10px;" />

    </p>

    <p>
        <label >NOC From Builder</label>

        <input type="file" class="form-control newbtn" id="customFile5" style="margin-top: 10px;" />

    </p>

    <p>
        <label >Agreement To Sale</label>

        <input type="file" class="form-control newbtn" id="customFile6" style="margin-top: 10px;" />

    </p>
    <a routerLink="/application"><button class="registerbtn" type="submit"> SUBMIT </button></a>
    

</div>
</div>


