.container{
    display: flex;
    justify-content: center;
    margin: 100px 250px 250px 200px;
    padding: 30px;
}
input[type=text], input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background:lavender;
  }

  input[type=text]:focus, input[type=number]:focus {
    background-color: #ddd;
    outline: none;
  }

  .registerbtn {
    background-color: #d12087;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  .registerbtn:hover {
    opacity:5;
  }
  
  .center {
    margin: auto;
    width: 60%;
    border: 5px solid darkgray; 
    padding: 10px;
    }